[defaults]

inventory = ansible/inventory/dev/hosts.ini

roles_path = ansible/roles

host_key_checking = False

retry_files_enabled = False

timeout = 30

forks = 10

remote_user = ubuntu

private_key_file = ~/.ssh/dev-server.pem

interpreter_python = auto_silent

deprecation_warnings = False

# Create ansible/.vault_pass locally (gitignored), one line = vault password.
# vault_password_file = ./.vault_pass


[privilege_escalation]

become = True

become_method = sudo

become_user = root

become_ask_pass = False


[ssh_connection]

pipelining = True

ssh_args = -o ControlMaster=auto -o ControlPersist=60s