apiVersion: v1
kind: Secret
metadata:
  name: {{ gitops_repo_secret_name }}
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  url: {{ gitops_repo_url | quote }}
{% if gitops_repo_username is defined and gitops_repo_username | length > 0 %}
  username: {{ gitops_repo_username | quote }}
{% endif %}
{% if gitops_repo_password is defined and gitops_repo_password | length > 0 %}
  password: {{ gitops_repo_password | quote }}
{% endif %}
{% if gitops_repo_ssh_private_key is defined and gitops_repo_ssh_private_key | length > 0 %}
  sshPrivateKey: |
{{ gitops_repo_ssh_private_key | indent(4, true) }}
{% endif %}
{% if gitops_repo_insecure is defined and gitops_repo_insecure %}
  insecure: "true"
{% endif %}
